/* GENERAL */
body, html {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative; }

/*======= HEADER ======= */
header {
  background-color: black;
  margin: 0;
  height: 150px; }

.logo {
  padding-top: 15px;
  padding-left: 20px; }

/*======= NAV ======= */
.navBar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: black;
  border-top: 3px solid #43a88f; }

.nav:hover {
  background-color: #43a88f; }

/* Dropdown code */
.navBar a {
  float: left;
  font-size: 16px;
  color: #d7d7d7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #d7d7d7;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #43a88f; }

.dropdownContent {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 13px; }

.dropdownContent a {
  float: none;
  color: #d7d7d7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdownContent a:hover {
  background-color: #43a88f; }

.dropdown:hover .dropdownContent {
  display: block; }

/* end of dropdown code */
/*======= MAIN =======*/
main {
  margin-bottom: 50px;
  font-family: "Source Sans Pro", sans-serif; }

.mainContent {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px; }

/*======= LOCATIONS =======*/
.locations {
  width: 45%;
  height: 600px;
  -webkit-box-shadow: -11px 10px 9px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -11px 10px 9px -9px rgba(0, 0, 0, 0.38);
  box-shadow: -11px 10px 9px -9px rgba(0, 0, 0, 0.38);
  border-radius: 3px; }

.listTitle {
  color: #43a88f;
  background-color: black;
  width: 100%;
  margin: 0;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px; }

.addBtn {
  color: #43a88f;
  background-color: white;
  margin-top: 30px;
  border: none;
  font-size: 20px; }

.addBtn:hover {
  font-size: 23px;
  cursor: pointer; }

.addSearchRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #d7d7d7; }

#search {
  width: 200px; }

.locationsTable {
  overflow: auto;
  height: 477px; }

.locationName:hover {
  color: #43a88f;
  cursor: pointer; }

/* ======= MAP ====== */
.map {
  border: 1px solid gold;
  width: 45%;
  height: 500px; }

/*==========Footer========*/
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: #43a88f;
  text-align: center; }

.createdBy {
  padding: 20px; }

.enbyHeart {
  height: 20px; }

/* CREDITS */
/* Logo created at Wix.com */
/* Box shadow created at https://www.cssmatic.com/box-shadow */

/*# sourceMappingURL=main.css.map */
